@import variables
#footer
  .containfoot
    text-align: center
    width: 95%
    margin: 0 auto
    max-width: 1080px
    background-color: $fourthcolor

    .logo
      display: block
    .copyright
      display: block

