
doctype html
html(lang='en')
	include ../mixins/head
	include ../mixins/header

	if(section == '/')
		include ../layouts/post
		include ../layouts/vlog

	if(section == '/blog')
		include ../layouts/post
		include ../layouts/blog



	if(section == '/vlog/')
		include ../layouts/vlog


	include ../mixins/footer
