
doctype html
html(lang='en')
	include ../mixins/head
	include ../mixins/header


	if(section == '/')
		include ../layouts/post
		include ../layouts/vlog

	if(section == '/blog')
		include ../layouts/post

	if(section == '/blogpost')
		include ../layouts/blog

	if(section == '/vlog')
		include ../layouts/vlog

	if(section == '/videos')
		include ../layouts/video

	if(section == '/aboutus')
		include ../layouts/aboutus

	if(section == '/contact')
		include ../layouts/contact

	if(section == '/privacy')
		include ../layouts/protection

	include ../mixins/footer
