
doctype html
html(lang='en')
	include ../mixins/head
	include ../mixins/header
	if(section == '/')
		include ../layouts/post
	if(section == '/blog')
		include ../layouts/post
	if(section == '/blogpost')
		include ../layouts/blog
	include ../mixins/footer