
doctype html
html(lang='en')
	include ../mixins/head
	include ../mixins/header
	script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
		// AD01
		ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-1050392827355534', data-ad-slot='6953990705', data-ad-format='auto')
		script.
			(adsbygoogle = window.adsbygoogle || []).push({});

	if(section == '/')
		include ../layouts/post
		include ../layouts/vlog

	if(section == '/blog')
		include ../layouts/post

	if(section == '/blogpost')
		include ../layouts/blog

	if(section == '/vlog')
		include ../layouts/vlog

	if(section == '/videos')
		include ../layouts/video

	if(section == '/aboutus')
		include ../layouts/aboutus

	if(section == '/contact')
		include ../layouts/contact

	if(section == '/privacy')
		include ../layouts/protection

	include ../mixins/footer
