
#footer
    .containfoot
        .footerContact
            span.logo Starshot Ryens Blog
            span.copyright Gaming Videos and Articles
        .webcreator
            |  2017 Nicholas Rynearson
