
#footer
    .containfoot
        .footerContact
            span.logo Nick Rynearsons Blog
            span.copyright Gaming Videos and Articles
        .webcreator
            |  2017 Nicholas Rynearson
