
#footer
    .containfoot
        .col-xs-12.footerContact
            span.logo WiseMan Gamer
            span.copyright Gaming Videos and Articles
        .col-xs-12
            |  2017 Nicholas Rynearson
