
#footer
    .containfoot
        .footerContact
            span.logo Starshot_Sky's Blog
            span.copyright Gaming Videos and Articles
        .webcreator
            |  ©2017 Starshot_Sky's Blog
