#aboutus: .container
        .left-side
            h1 About Me
        .contsiner
            img(src=aboutus._.photo.src({width: 432, height: 472, crop: "fill"}))
            p.aboutus !{aboutus.text}

