#contact.backgroundcolor
    h1.headtext Contact Information
    p.container-text For any business opportunities or you have a suggestion about what I should write next just send me an email at nick.rynearson64@gmail.com.