#contact.backgroundcolor
    h1.headtext Privacy Protection
    p.container-text For your information this website does not collect any personal information I simply write my thoughts for people to enjoy reading.