.container.backgroundcolor
    .container-video
        h1.Bigvideo #{video.title}
        h4.Datevideo  By #{video.subTitle}, #{video._.publishedDate.format('MMMM DD, YYYY')}
        p.videocenter !{video.content.extended}
        a.btnvideo(href = '/') Back to collection


